*,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    border: none;
    text-transform: capitalize;
}

nav,
ul,
li,
a {
    list-style-type: none;
    text-decoration: none;
    border: none;
}

body {
    min-height: 100vh;
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}

/*icons and images*/
.bi,
.forward-img,
.line-img {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.bi-person-circle {
    width: 30px;
    height: 30px;
    font-size: 30px;
}

/*layouts*/

.flex-b {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.flex-e {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.flex-a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/*header section*/
header {
    background-color: #212121;
    color: white;
    height: 56px;
}

nav {
    width: 200px;
}

nav>img:nth-child(2) {
    width: 5rem;
    height: 2rem;
}

nav>img:nth-child(1) {
    width: 24px;
    height: 24px;
}

.header-mid {
    width: 47rem;
    height: 40px;
}

.h-search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #333333;
    background-color: hsl(0, 0%, 9%);


}

.bi-search {
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    height: 40px;
    width: 64px;
    margin: 0;
    color: white;
    font-size: 18px;
    background-color: #333333;

}

.bi-mic {
    background-color: #181818;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.in-search {
    width: 572px;
    height: 20px;
    color: white;
    background-color: hsl(0, 0%, 9%);
    margin-left: 10px;

}

.header-mid>img:nth-child(2) {
    width: 24px;
    height: 24px;
}

.header-right {
    width: 200px;
}

.header-right>img {
    width: 25px;
    height: 25px;
}


.style-scope {
    fill: white;
}

/*grid container*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-top: 10px;
    background-color: #181818;
    color: white;
}

.grid-left {
    grid-area: 1/2/2/3;
}

iframe {
    width: 908px;
    height: 511px;
}

/*main*/
.primary-info {
    height: 3rem;
}

.secondary-info {
    border-bottom: 1px solid #333333;
}

.views-p {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(170, 170, 170);
    font-size: 13px;
}

.icons {
    width: 30rem;

}

.left-links {
    width: 10rem;
}

.left-links>li>a {
    color: #3a9ef7;
    font-size: 12px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    width: 6rem;
    align-items: center;
}

.channel-container {
    height: 12rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    border-bottom: 1px solid #333333;
}

.user-info-left {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.channel-info {
    width: 46rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;
    font-size: 12px;

}

.sub-btn {
    border-radius: 2px;
    width: 109px;
    height: 37px;
    font-size: 15px;
    font-weight: 700;
    background-color: #cc0000;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.user-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40rem;
}

.blue {
    color: #3a9ef7;

}

.comment-info {
    display: flex;
}

.comment-info-primary {
    width: 14rem;
}

.comment-info-secondary {
    height: 3rem;
}

.in-comment {
    width: 100%;
    margin-left: 2rem;
    border-bottom: 1px solid #333333;
    color: white;
}

/*users comment*/
.users-comments {
    display: flex;
    align-items: center;
    height: 5rem;
}

.comments {
    align-items: flex-start;
    width: 44rem;
    height: 10rem;

}

.year {
    width: 27rem;
}

.comment-icons {
    width: 12rem;
}

.comment-right {
    flex-direction: column;
    align-items: flex-start;
    height: 7rem;
}

/*aside container*/
.aside {
    grid-area: 1/3/2/3;
    flex-direction: column;
    align-items: flex-start;
    width: 40rem;
    height: 50rem;
}

.side-links {
    display: flex;
    width: 22rem;
    justify-content: space-between;
    height: 2rem;
}

.a {
    border: 1px solid #454545;
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
    color: white;
    background-color: #303030;
    padding: 3px 10px;
}

.all {
    background-color: white;
    color: #1b1b1b;
    border: none;
}

.thum-img {
    width: 120px;
    height: 100px;
}

.thumbnail-container {
    display: flex;
}

.thum1 {
    display: flex;
    justify-content: space-between;

}

.thum-p>* {
    margin-bottom: 5px;
    margin-left: 0.5rem;
}

.thum-p>p {

    color: rgb(170, 170, 170);
    font-size: 0.8rem;
}

h2 {
    font-size: 0.9rem;
    font-weight: 500;

}

h1 {
    font-size: 16px;
    font-weight: 400;
}

.gray {
    color: rgb(170, 170, 170);

}